html  {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbb60e, #f3dd26);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbb60e, #f3dd26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;

}
body {
    height: 96%;
    margin: 0;
}
a:-webkit-any-link {

    cursor: pointer;
    /*text-decoration: none;*/
}
li a {
    text-decoration: none;
}
.mycontainer {
    margin: 0 3%;
    height: 100%;
}

/*----------HEADER-------------*/
header {
    height: 32px;
}
.registr {

    position: absolute;
    right: 10%;
    top: 2%;
    background-image: url(../img/db_reg.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
}
.registr:hover {
    background-image: url(../img/db_reg_hover.svg);
}
.new_user {
    position: absolute;
    right: 10%;
    top: 2%;
    background-image: url(../img/db_login.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
}
.new_user:hover {
    background-image: url(../img/db_login_hover.svg);
}
a.new_user:hover::after, a.registr:hover::after {
    content: attr(data-title);
    background: rgba(249,249,249,0.8);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 10px;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #c6c6c6;
    position: absolute;
    top: 77%;
    left: 50%;
}
.logo_honeycomb{

    position: absolute;
    left: 14%;
    top: 1%;
    width: 60px;
    height: 34px;

}

/*----------Left white block deskription-------------*/
.deskription_form {
        background-color: #fff;
        font: 1em 'Montserrat', sans-serif;

}
.demo {
    margin: 10% auto;
}
.demo:first-child {
    grid-column-start: 3;
}
h1 {
     font-size: 2em;
    /*font-size:*/
            /*calc( (100vw - 320px)/(1280 - 320) * (35 - 10) + 10px);*/
    margin: 12% 0 2% 0;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3.536px 3.536px 5px rgb(221, 221, 221);

}
.deskription_form_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /*margin: 1% 10% 1% 18%;*/
    text-align: initial;
}
.deskription_form_list1 {
    list-style-type: circle;
    display: initial;
}
.deskription_form_list {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 1% 0% 1% 2%;
    text-align: initial;

}
.deskription_form_img {
     margin: 10% 0;
     position: relative;
     left: 20%;
     width: 60%;
     filter: drop-shadow(8px 10px 5px #d3d1d1);
 }
.deskription_form_img_el {
    margin-top: 10%;
    position: relative;
    /* left: 0%; */
    /* bottom: 21%; */
    width: 85%;
    filter: drop-shadow(8px 10px 5px #d3d1d1);
 }
.deskription_form_img_snail {

    position: relative;
    left: 77%;
    width: 38%;
    filter: drop-shadow(8px 10px 5px #d3d1d1);
}
@media (max-width: 479px) {
    .demo:first-child {
        grid-column-start: 1;
    }
}
/*----------Right gray block registration-------------*/
.registration {
    background-color: #eeeeee;

}
.registration_form_text{
    font-size: 0.875em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    /*margin: 0 47% 1% 0;*/

}
.forget_pass{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(110, 110, 110);
    line-height: 4.2;
    text-align: left;
}
.registration_social {
    width: 66%;
    margin: 29% auto;
}

  .nav, .nav_social-descriptions {
    list-style: none;
    margin: 0;
    padding: 3px;
    display: inline;
    color: #0d0000;
}
  .registration_social_icons {
      text-align: center;
  }


.icon2x {
    color: #0b0b0b;
    font-size: 2.8em !important;
}
.icon-google_plus_circle:hover {
    color: #db4437;
}

.icon-facebook_circle:hover {
    color: #4267b2;
}
.icon-git_circle:hover {
    color: #4ea852;
}
.icon-linked_in_circle:hover {
    color: #0366d6;
}
.icon-twitter_circle:hover {
    color: #1da1f2;
}
input[placeholder] {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #111111;
}
.registration_form_inp {
    border-width: 0;
    background-color: transparent !important;
    background: top;
    padding: 9px 0;
    margin: 1% auto;
}
#username, #email, #password, #password_repeat {
    width: 95%;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#username, #email, #password, #password_repeat:focus {
    outline: none;
}


/*.input-requirements li.invalid {*/
    /*color: #ff8080;*/
/*}*/

input:invalid:not(:placeholder-shown) {
    color: red;
    border-color: red;
    border-bottom: 2px solid red !important;
}
input:valid:not(:placeholder-shown) {
    color: green;
    border-color: green;
    border-bottom: 2px solid green !important;
}

.registration_form input:required:valid, .registration_form textarea:required:valid {
    background: url(../img/valid.png) no-repeat 98% center;
    background-size: 10%;

}
/*.registration_form input:required:invalid, .registration_form textarea:required:invalid {*/
    /*background: url(../img/warning.png) no-repeat 98% center;*/
    /*background-size: 10%;*/

/*}*/
/*.registration_form input:focus + .form_hint {*/
    /*display: inline;*/
/*}*/
.form_hint {

    font-family: 'Montserrat', sans-serif;
    color: red;
    /*margin-left: 8px;*/
    padding: 1px 22px;
    z-index: 999;
    /*position: absolute;*/
    display: none;
}
.registration_form input:invalid + .form_hint {
    display: inline;
    background: url(../img/warning.png) no-repeat 0% center;
    background-size: 9%;
}


/* сдвиг placeholder-а вправо при фокусе*/
:-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}


input::-moz-placeholder     {text-indent:1.5em;}
input:-moz-placeholder      {text-indent:1.5em;}
input:-ms-input-placeholder {text-indent:1.5em;}
input:focus, textarea:focus, select:focus {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    outline: none;
}
/*РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ*/
.user_declaration {
    font-size: 0.625em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(110, 110, 110);
    text-decoration: underline;

}
.user_declaration_txt {
    font-size: 0.625em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(110, 110, 110);
    text-decoration: none;

}
.g-recaptcha {
    text-align: -webkit-center;
    margin: 2% 0;
}


.btn{
    margin-top: 5%;
    border-width: 0;
    font-size: 0.875em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    width: 60%;
    text-transform: uppercase;
    font-weight: 800;
    height: 2.3em;
    border-radius: 25px;
    background-color: rgb(254, 245, 3);
    box-shadow: 0px 10px 5px 0px rgba(207, 207, 207, 0.44);

}

.btn:hover {
    box-shadow: none;
}
.Absolute-Center {
    text-align: center;
}
.my-grid {
    --mdc-layout-grid-margin-desktop: 82px;
    --mdc-layout-grid-gutter-desktop: 0px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
    height: 95%;
}

/* ----------        show-on-mobile       ------------------ */
.show-on-mobile_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
}
.show-on-mobile {
    margin: 0 auto;
}
.show-on-mobile_center {
    width: 74%;
    margin: 17% 13% 2% 13%;
}


.DreamsBureau {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: left;
    text-shadow: 2.121px 2.121px 5px rgba(79, 79, 79, 0.4);
}

.logo-mobile {
    margin: 3% 0 20% 0;
    width: 20%;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .hide-on-mobile { display: none; }}



.show-on-mobile { display: none; }
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .show-on-mobile {
    display: inline;
    text-align: center;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 2.3em;
    }
    .deskription_form_text {
        font-size: 1.1em;
    }
    .deskription_form_list {
        font-size: 1.1em;
    }
}
@media (max-width: 839px) and (min-width: 480px) {
    .deskription_form_img_snail {
        display: none;
    }
}